services:
  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_DB: cuponsdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password123
    ports:
      - "5433:5432"

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin_gui
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8081:80"
    depends_on:
      - db

  api:
    image: tiangolo/uvicorn-gunicorn-fastapi:python3.9
    container_name: fastapi_api
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://postgres:password123@db:5432/cuponsdb
    # Este comando instala as bibliotecas que faltam e liga o servidor
    command: >
      sh -c "pip install psycopg2-binary requests beautifulsoup4 watchfiles && 
             uvicorn main:app --host 0.0.0.0 --port 8000 --reload"
    depends_on:
      - db